
.Red {

    color: red;

}

#form1 {

    float: left;
    margin-left: 1%;
    margin-top: 10%;
    
}

#lefty {
   
    margin-top: 10%;
    float: left;
    width: 200px;
    height: 465px;
    border-right: 1px solid black;
}

#filler {

    background-color: #EBEBE4;
    height: 20px;
    width: 120%;

}